@font-face
{
	font-family: lato_black;
	src: url('../font/LATO-BLACK.eot');
	src:url('../font/LATO-BLACK.eot?#iefix') format('embedded-opentype'),
	 	url('../font/LATO-BLACK.svg#lato_black') format('svg'),
		url('../font/LATO-BLACK.woff') format('woff'),
		url('../font/LATO-BLACK.ttf') format('truetype');
	font-weight: normal;
    font-style: normal;
}
@font-face
{
	font-family: lato_bold;
	src:url('../font/LATO-BOLD.eot');
	src: url('../font/LATO-BOLD.eot?#iefix') format('embedded-opentype'),
	 	url('../font/LATO-BOLD.svg#lato_blod') format('svg'),
		url('../font/LATO-BOLD.woff') format('woff'),
		url('../font/LATO-BOLD.ttf') format('truetype');
	font-weight: normal;
    font-style: normal;
}
@font-face
{
	font-family: lato_light;
	src:url('../font/LATO-LIGHT.eot');
	src: url('../font/LATO-LIGHT.eot?#iefix') format('embedded-opentype'),
	 	url('../font/LATO-LIGHT.svg#lato_light') format('svg'),
		url('../font/LATO-LIGHT.woff') format('woff'),
		url('../font/LATO-LIGHT.ttf') format('truetype');
	font-weight: normal;
    font-style: normal;
}
@font-face
{
	font-family: lato_regular;
	src:url('../font/LATO-REGULAR.eot');
	src: url('../font/LATO-REGULAR.eot?#iefix') format('embedded-opentype'),
	 	url('../font/LATO-REGULAR.svg#lato_regular') format('svg'),
		url('../font/LATO-REGULAR.woff') format('woff'),
		url('../font/LATO-REGULAR.ttf') format('truetype');
	font-weight: normal;
    font-style: normal;
}

/*!
 * Start Bootstrap - Grayscale Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body {
    width: 100%;
    height: 100%;
    font-family:lato_regular;
    color: #000000;
    background-color: #fff;
	
}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h5,
h4,
h6 {
    margin: 16px 0 16px;
    text-transform: uppercase;
    
    font-weight: 700;
    letter-spacing: 1px;
	color:#000;
}



h2{
	color:f6881f;
	text-shadow:#CCC;	
}
p {
    margin: 0 0 25px;
    font-size: 12px;
    line-height: 1.5;
}

@media(min-width:768px) {
    p {
        margin: 0 0 35px;
        font-size: 12px;
        line-height: 1.6;
    }
}

a {
  	color:#fff;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
		color:#fff;
    text-decoration: none;

}

.light {
    font-weight: 400;
}

.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    text-transform: uppercase;
    font-family: lato_light;
    background-color: #825cd5;
}

.navbar-custom .navbar-brand {
    font-weight: 700;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-custom a {
    color: #fff;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
	font-family:lato_bold;
}

.navbar-custom .nav li a:hover {
    outline: 0;
    color: #F6881F;
    background-color: transparent;
	font-family:lato_bold;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
    outline: 0;
    background-color: transparent;
}

.navbar-custom .nav li.active {
    outline: 0;
}

.navbar-custom .nav li.active a {
    background-color: rgba(255,255,255,.3);
}

.navbar-custom .nav li.active a:hover {
    color: #fff;
}

@media(min-width:768px) {
    .navbar-custom {
        padding: 0px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        /*background: 0 0;*/
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .navbar-custom.top-nav-collapse {
        padding: 0;
        border-bottom: 2px solid #F6881F;
        background: #815cd5;
    }
}




.intro {
    display: table;
    width: 100%;
    height: 100%;
   /* padding: 100px 0;*/
    text-align: center;
    color: #fff;
	background:url(../img/banner_img.jpg) no-repeat bottom center scroll;
   /* background: url(../img/intro-bg.jpg) no-repeat bottom center scroll;*/
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

.intro .intro-body .brand-heading {
    font-size: 40px;
}

.intro .intro-body .intro-text {
    font-size: 18px;
}

@media(min-width:768px) {
    .intro {
        height: 70%;
        padding: 0;
    }

    .intro .intro-body .brand-heading {
        font-size: 100px;
    }

    .intro .intro-body .intro-text {
        font-size: 26px;
    }
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #fff;
    border-radius: 100%!important;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255,255,255,.1);
}

.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {    
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {    
    0% {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

.content-section {
    padding-top: 100px;
}

.download-section {
    width: 100%;
    padding: 50px 0;
    color: #fff;
    background: url(../img/downloads-bg.jpg) no-repeat center center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#map {
    width: 100%;
    height: 200px;
    margin-top: 100px;
}

@media(min-width:767px) {
    .content-section {
        padding-top: 250px;
    }

    .download-section {
        padding: 100px 0;
    }

    #map {
        height: 400px;
        margin-top: 250px;
    }
}

.btn {
    border-radius: 0;
    text-transform: uppercase;
    font-family: lato_regular;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-default {
   border: 1px solid #F6881F;
    color: #fff;
    background-color: #F6881F;
    border-radius: 3px;
}

.btn-default:hover,
.btn-default:focus {
   border: 1px solid #F6881F;
    color: #fff;
    background-color: #F6881F;
    border-radius: 3px;
}

ul.banner-social-buttons {
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    ul.banner-social-buttons li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons li:last-child {
        margin-bottom: 0;
    }
}

footer {
    padding: 0px 0;
}

footer p {
    margin: 0;
}

::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: rgba(255,255,255,.2);
}
.footer_menu {
	    margin: 2px 0px;
    padding-top: 10px;
	
}
.footer_menu ul li {
	display:inline-block;
	list-style-type:none;
	padding:0px 3px;
	
}
.back_btn{
	background-color:#F6881F;
	width:100px;
	height:28px;	
	border:0px;
	    margin-top: 61px;
		border-radius:5px;
}
.go_btn{
	background-color:#F6881F;
	width:100px;
	height:28px;	
	border:0px;
	    margin-top: 61px;
		border-radius:5px;
}

footer {
	color:#ffffff;
}
.header_icons ul li {
	color:#ffffff!important;
}
.button_sign_in {
	color:#ffffff;
}
/* p {
    font-size: 16px;
    line-height: 1.6;
    margin:0 0 10px;
} */




/** fix for ipad visibility begin ****/

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  { 


.hidden-xs, .hidden-sm {
	display:block!important;
}
.visible-xs, .visible-sm {
	display:none!important;
}


}

.purple{
  color: #8703c5 !important;
}

.orange{
  color: #f6872c !important;
}

.wht{
  color: #ffffff !important;
}

.purpleBg{
  background: #8703c5 !important;
}

.purpleButton{
  background: #8703c5 !important;
  border-radius: 5px;
  border-color: #8703c5;
      color: white;
      text-transform: capitalize;
    font-weight: 600;
    letter-spacing: 1px;
}

.purplePanel h4{
        color: white !important;
    }

.whiteRestButton{
  background: #ffffff !important;
  border-color: #8703c5;
  color: #8703c5 !important;
}

.purplePanel{
    color: #fff;
    background-color: #815dd5 !important;
    border-color: #815dd5 !important;
}

.orangeBg{
  background: #f6872c !important;
}

.whiteBg{
    background: #ffffff !important;
}
/** fix for ipad visibility end ****/
.txtAlignCentre{
  text-align: center;
}

.txtAlignRight{
    text-align: right;
}

.noPaddingCol{
    padding-right: 0px;
    padding-left: 0px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .navbar-brand{
    height: 55px;
    padding: 9px 9px;
  }
  .navbar-brand img {
        width: 150px;
  }
  .navbar-custom{
    padding: 0px 16px 0px 0px;
  }
  .navbar-custom button{
    color: white;
    font-size: 20px;
  }
  #topSection{
    margin-top: 12%;
  }
  .noPadding {
     padding-right: 15px !important;
     padding-left: 15px !important; 
    }

  .search-slt {
    font-size: 1.5rem;
    height: calc(3rem + 10px) !important;
    border-radius: 12px;
    margin: 0px !important;
   }

   .projectFactsWrap .item p{
        font-size: 16px !important;
   }

   .projectFactsWrap .item p.number{
        font-size: 32px !important;
   }

   .projectFactsWrap .item i{
    font-size: 30px !important;
   }

   .eventDet{
    width: 100% !important; 
   }

   .card-contentFetUnivers{
        margin-bottom: 4.5rem !important;
   }

   .card-contentFetUnivers .card-img img{
        height: 13% !important;
   }

   .card-contentFetUnivers .card-img{
        padding: 12% 15px 5px 15px !important;
   }

   .team-items{
        margin-bottom: 10px !important;
   }

   .wrn-btnPurple{
         width: auto !important; 
   }

   .mainTabs .nav-tabs{
      display: inline-flex;
    }

   .filterable .panel-heading {
        height: 120px !important;
        text-align: center;
   }

   .filterable .panel-body {
            overflow-x: scroll !important;
        text-align: center;
   }

   .filterable .panel-heading .pull-right{
     margin-top: 0px !important;
   }

   .flLt{
      text-align: -webkit-center !important;
    float: none !important;
   }

   .uni-detail{
         margin-left: 0px !important; 
         text-align: center !important;
   }

   .compare-box{
        text-align: center !important;
        float: none !important;
   }

   .uni-boxPurple .btn-brochure{
        text-align: center !important;
   }

   .uni-boxPurple .pos{
        text-align: center !important;
   } 

   .modal-content{
     width: 75% !important;
   }

   .page-top-title{
        text-align: center !important;
   }

   .uniLogoDiv{
     text-align: center;
   }

   .buttonHome{
        margin-bottom: 5px;
        margin-top: 8px;
        border-radius: 7px !important;
   }

   .buttonProgram{
     border-radius: 7px !important;
   }

   .wrimagecard{
        width: auto !important;
   }

   .boxAlign{
        height: auto !important;
        width: 95% !important;
   }

   .card{
        min-height: auto !important;
   }

   .displayInline{
     display: block !important;
   }

   .aboutSection .container{
            height: 180px !important;
   }

   .footer1{
         margin: 0px 2rem 0px 5rem !important;
         text-align: center !important;
         display: table;
   }

   .contactUsDiv{
    border-left : 0px !important;
   }

   .copyright , .design{
         padding: 0px 0 !important; 
       text-align: center !important;
   }

   .bannerSection{
    background-position: bottom !important;
   }

   .btnMobile{
     text-align: center !important;
   }

   .dataTables_wrapper{
    overflow: auto;
   }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
   
  
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  
} 

/* Extra large devices (medium laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
   
  
}

/* Extra large devices (medium laptops and desktops, 1400px and up) */
@media only screen and (min-width: 1600px) {
   
    
}

