

.OT_root {
    padding: 10px;
    float:left;
    display:inline;
}

#videos {
    position: relative;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    float: left;
}

header .navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  min-height: 8vh;
  min-width: 100%;
  z-index: 10;
  background: #6d316e;
  border-bottom: 2px solid #6d316e;
}

header .navigation .logo{
  margin-left: 20px;
}

header .navigation .logo h1{
  color: #b1d4e0;
  font-size: 30px;
  line-height: 38px;
}

.rmargin{
        margin-right: 20px;
}

.headH1{
        font-size: 40px;
    font-weight: 700;
    letter-spacing: 3px;
    color: #f6872c;
    text-shadow: 3px 3px 2px #000000a8;
}

header .navigation .menu-list {
  list-style: none;
  display: flex;
  /*justify-content: space-between;*/
  align-items: center;
  width: 75%;
  margin: auto 20px auto 0;
}

header .navigation .humbarger {
  margin-right: 20px;
  display: none;
 }

header .navigation .humbarger .bar{
  width: 30px;
  height: 2px;
  margin: 7px;
  background: #b1d4e0;
 }

 header .navigation .menu-list li {
        padding: 11px;
 }

header .navigation .menu-list li a {
  color: #ffffff;
    font-size: inherit;
    font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  transition: color 1s ease, border 1s ease;
  text-decoration: none;
}

header .navigation .menu-list li:hover {
  background-color: #ddd !important;
  color: #eb4023;
}





/*NEW CSS*/
.outer-div {
    width: 85%;
    text-align: center;
}
.inner-div {
    display: inline-block;
    margin: 0 auto;
}

/*.bgImage{
    width: 100%;
    height: 100%;
    background-color: #7e449a;
    background-image: url(/images/Fair2021/homePage.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}*/

.bg-text {
    position: fixed;
    top: 0%;
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    z-index: 2;
    width: 100%;
    background-color: #6d316e;
    -webkit-clip-path: polygon(100% 0%, 95% 100%, 5% 100%, 0% 0%);
    clip-path: polygon(100% 0%, 93.5% 100%, 6.5% 100%, 0% 0%);
    margin: 0 auto;
    text-align: center;
    box-shadow: 8px 8px 6px #211d1d;
    height: 7%;
}

.bg-text1 {
    background-color: rgb(0,0,0);
    background-color: #6d316e;
    color: white;
    font-weight: bold;
    border: 2px solid #ffffff;
    position: absolute;
    top: 24%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 70%;
    padding: 12px;
    text-align: center;
        box-shadow: 0 7px 5px #271f1f;
}

.bg-text2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 70%;
    padding: 12px;
    text-align: center;
}

.bg-text3 {
    position: absolute;
    /*top: 78%;*/
    left: 50%;
    bottom: -13%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 12px;
    text-align: center;
}

#bgImageText h2{
    font-size:45px;
}

.topMar{
    margin-top: 0px;
}

/*Home video css*/
#videoHome , #videoUniDetails {
  width: 100%;
  height: auto;
  margin: auto;
}

#videoUniDetails video {
  width: 100%;
  height: 50%;
  cursor: pointer;
      border-radius: 25px;
      border: 3px solid black;
    box-shadow: 8px 8px 6px #00000000;
}

video {
  width: 100.2%;
  height: auto;
  cursor: pointer;
      border: 3px solid black;
    box-shadow: 8px 8px 6px #211d1d;
}

/*Spinner load*/
.poster {
     width: 14px;
    height: 14px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: rotateZ(45deg);
}

.poster .cube {
    position: relative;
    transform: rotateZ(45deg);
}

.poster .cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    transform: scale(1.1);
}

.poster .cube:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #eb4023;
    animation: cube 1.08s infinite linear both;
    transform-origin: 100% 100%;
}

.poster .c2 {
    transform: scale(1.1) rotateZ(90deg);
}

.poster .c3 {
    transform: scale(1.1) rotateZ(180deg);
}

.poster .c4 {
    transform: scale(1.1) rotateZ(270deg);
}

.poster .c2:before {
    animation-delay: 0.135s;
}

.poster .c3:before {
    animation-delay: 0.27s;
}

.poster .c4:before {
    animation-delay: 0.405s;
}

@keyframes cube {
    0%, 10% {
        transform: perspective(70px) rotateX(-180deg);
        opacity: 0;
    }

    25%, 75% {
        transform: perspective(70px) rotateX(0deg);
        opacity: 1;
    }

  90%, 100% {
    transform: perspective(70px) rotateY(180deg);
    opacity: 0;
  }
}

@keyframes bg-pan-top {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.gridOptionsfour {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.bg-text a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 17px;
}

.bg-text a:hover {
  background-color: #ddd !important;
  color: #eb4023;
}

.bg-text a.active {
  background-color: #eb4023;
  color: white;
}

/*Uni list detail*/
.detail {
    box-shadow: 3px 4px 5px 3px rgba(0,0,0,.2);
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
        background-color: #6d326f;
}

.detail img {
        width: 95%;
    height: auto;
}

.detail-box img{
    width: 15%;
    height: auto;
}

.divview img{
    width: 100%;
    height: auto;
  border-radius: 10px;
}

.leaveBtn{
    float: right;
    padding: 1% 2%;
    width: 20%;
    background-color: #F6881F;
    border: medium none;
    border-radius: 5px;
    font-size: 15px;
    color: #FFF;
    font-weight: 700;
    letter-spacing: 1px;
}

.nopadding0{
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.detail-box {
    margin-left: 20px;
    margin-top: 10px;
}

.detail-box h4 {
   /* font-family: 'Bree Serif', serif;*/
    font-size: 25px;
    line-height: 28px;
    font-weight: Bold;
    color: #ffffff;
    /*padding-top: 10px;*/
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.descBox h4{
    font-weight: bold;
    color: #ffffff;
}

.descBox p{
    color: #ffffff;
}


.detail-box p{
    margin-bottom: 14px;
    font-size: 13px;
    line-height: 20px;
    text-align: justify;
    margin-right: 10px;
    color: white;
}

.detail-box p a{
  border-bottom: 1px dotted #529cec;
  text-decoration: none;
  color: #529cec;
}

.detail-box p a:hover{
    color: #27c74c;
    border-bottom: 1px dotted #27c74c;
}

.detail-box p i.fas{
  color: #27c74c;
}

.detail-box ul{
  padding: 0px;
  margin: 0px;
  margin-bottom: 10px;
}

.detail-box ul li{
      list-style-type: none;
    display: inline-block;
    margin-right: 10px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    color: #fff;
    border: 2px solid #fff;
    padding: 2px 6px;
    border-radius: 2px;
}

.detail-box ul li:hover{
  background-color: #f6872c;
  border: 2px solid #f6872c;
  color: #fff;
}

.detail-box h6{
    font-size: 14px;
    line-height: 18px;
}

.detail-box h6 i.fa{
  color: #27c74c;
}

.detail-box h6 span{
  float: right;
  font-family: 'Bree Serif', serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  color: #27c74c;
  margin-right: 10px;
}



.ribbon {
    position: absolute;
    z-index: 1;
    overflow: hidden;
    width: 94px;
    height: 94px;
    text-align: center;
}

.ribbon span {
    font-size: 13px;
    font-weight: 700;
    color: #FFF;
    line-height: 25px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    width: 145px;
    display: block;
    background: #f94141;
    background: linear-gradient(#529cec 0,#043a75 100%);
    text-shadow: 1px 1px 2px rgba(0,0,0,.25);
    position: absolute;
    top: 25px;
    left: -34px;
}

.detail .discount-holder {
    color: #fff;
    background: #f6872c;
     top:10px;
    right: -127px;
    position: relative;
    border-radius: 0 5px 0 0;
    float: right;
    font-size: 14px;
    width: 25%;
    height: 3.5%;
        border-bottom-left-radius: 47px;
        border-top-left-radius: 50px;
    text-align: center;
}

.detail .discount-holder span {
    display: block;
    position: relative;
    padding: 2px 12px 2px 8px;
}

/*.detail .discount-holder span:before {
    width: 0;
    height: 0;
    border-top: 15px solid #f6872c;
    border-left: 15px solid transparent;
    position: absolute;
    top: 0;
    left: -14px;
    content: '';
}

.detail .discount-holder span:after {
    width: 0;
    height: 0;
    border-bottom: 15px solid #f6872c;
    border-left: 15px solid transparent;
    position: absolute;
    bottom: -4px;
    left: -14px;
    content: '';
}*/

.detail .discount-holder:after {
    background: #f6872c;
    border-bottom-right-radius: 4px;
    bottom: -6px;
    content: "";
    height: 6px;
    right: 0;
    position: absolute;
    width: 5px;
}


#mainselection {
    overflow: hidden;
    /* width: 350px; */
    -moz-border-radius: 9px 9px 9px 9px;
    -webkit-border-radius: 9px 9px 9px 9px;
    border-radius: 5px;
    box-shadow: 1px 1px 4px #ccc9cc;
    background: #f6872c;
}

#mainselection select option {
    color: #8c57c4;
    background-color: #fff !important;
}

.sort-filter {
    font-size: 20px;
    line-height: 1.6;
    margin: 0 0 10px;
    color: #fff;
}

#mainselection select {
    border: 0;
    color: #fff;
    background: transparent;
    font-size: 16px;
    font-weight: bold;
    padding: 2px 10px;
    width: -webkit-fill-available;
    height: 30px;
}

.nomargin a {
    color: #ffffff;
    font-size: 15px;
}

 #social:hover {
      -webkit-transform:scale(1.1);
      -moz-transform:scale(1.1);
      -o-transform:scale(1.1);
      }
      #social {
      -webkit-transform:scale(0.8);
      /* Browser Variations: */
      -moz-transform:scale(0.8);
      -o-transform:scale(0.8);
      -webkit-transition-duration: 0.5s;
      -moz-transition-duration: 0.5s;
      -o-transition-duration: 0.5s;
      }


/*--------------------------------------------------------------
# Features
--------------------------------------------------------------*/
.features .feature-box {
    padding: 15px 20px;
    box-shadow: 4px 4px 30px rgb(1 41 112 / 32%);
    transition: 0.3s;
    height: auto;
    margin-bottom: 20px;
    background-color: #57005E;
    border-radius: 15px;

    border-left: 20px solid #f6882c;

}

.features .feature-box h3 {
  font-size: 15px;
  color: #ffffff;
  font-weight: 700;
  margin: 0;
}

.btnorange{
    padding: 1% 7%;
    width: auto;
    background-color: #F6881F;
    border: medium none;
    border-radius: 100px;
    font-size: 14px;
    color: #FFF;
}

/*.features .feature-box i {
  line-height: 0;
  background: #ecf3ff;
  padding: 4px;
  margin-right: 10px;
  font-size: 24px;
  border-radius: 3px;
  transition: 0.3s;
      border-left: 30px solid #f6872c;
}

.features .feature-box:hover i {
  background: #4154f1;
  color: #fff;
}*/


.features .feature-icons {
  margin-top: 120px;
}

.features .feature-icons h3 {
  color: #012970;
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 20px;
  text-align: center;
}

@media (max-width: 768px) {
  .features .feature-icons h3 {
    font-size: 28px;
  }
}

.features .feature-icons .content .icon-box {
  display: flex;
}

.features .feature-icons .content .icon-box h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 10px 0;
  color: #012970;
}

.features .feature-icons .content .icon-box i {
  font-size: 44px;
  line-height: 44px;
  color: #0245bc;
  margin-right: 15px;
}

.features .feature-icons .content .icon-box p {
  font-size: 15px;
  color: #848484;
}

.avatars {
  display: inline-block;
  transform: scale(-1, 1);
      margin-left: -7%;
}

.avatar {
      position: relative;
    display: inline-block;
    /* border: 2px solid #fff; */
    border-radius: 50%;
    /* overflow: hidden; */
    width: 70px;
}

.avatar:not(:first-child) {
  margin-left: -60px;
}

.avatarimg {
  width: 30% !important;
  display: block;
  transform: scale(-1, 1);
}

/*table Css*/
/*.circle:before {
  content: ' \25CF';
  font-size: 200px;
}*/

.tableBox{
    background-color: #57005E;
    border-radius: 32px;
    height: 420px;
    position: relative;
}

.cenText{
        height: 100%;
    width: 100%;
    position: absolute;
    /* top: 10%; */
    /* left: 10%; */
    background: #30193c00;
    border-radius: 50%;
    text-align: center;
    line-height: 160px;
    color: white;
    font-weight: 800;
}


.newd .maincircle {
  position: relative;
  /*height: 600px;*/
  top: 25%;
  left:30%;
  /*margin-left:-300px;*/
}

.newd .inner {
  position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #26002A;
}

.newd .circle {
  position: absolute;
  width:100px;
  height:100px;
  border-radius: 50%;
  font-family: "Segoe UI", tahoma, sans-serif;
  font-size: 18px;
  text-align:center;
  vertical-align:middle;
  background-color: #ffffff00;
 /* box-shadow: 0px 0px 10px 10px teal;*/
  margin-top: -50px;
  margin-left: -50px;
  left: 50%;
  top: 50%;
  /*line-height: 100px;*/
}

.maincircle img:hover {
    -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.maincircle .Chairb7 img , .maincircle .Chair7 img ,  .maincircle .Chairb3 img , .maincircle .Chair3 img{
    width: 55% !important;
    height: auto ;
}

.maincircle img {
    width: 75% !important;
    height: auto ;
}



.tableNo{
    /*padding-left: 0px;*/
    background-color: #f6882c;
    border-top-left-radius: 32px;
    text-align: end;
}


.tableName{
    text-align: center;
    color: white;
    padding-left: 14%;
}

.orgPic{
    text-align: center;
    margin-top: 6px;
    padding-right: 0px;
}

.orgName{
        text-align: center;
    position: absolute;
    top: 35%;
    left: 10%;
    font-size: 20px;
    margin: auto 12px;
}

.boxBottom{
        position: absolute;
    bottom: 0;
    text-align: center;
}

.btnSeat{
        padding: 1% 7%;
    width: 55%;
    background-color: #480050;
    border: medium none;
    border-radius: 5px;
    font-size: 14px;
    color: #FFF;
}

.btnSeat:hover{
    background-color: #f6882c;
    color: #FFF;
}

.headingline h3 {
  text-align:center;
  font-family:sans-serif;
  text-transform:uppercase;
  font-weight:700;
  color: white;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 12px 0;
  grid-gap: 20px;
      margin-bottom: 15px;
}

.headingline h3:after, .headingline h3:before {
  content: " ";
  display: block;
  border-bottom: 3px solid #f6882c;
}

/*.popover{
        max-width:200px;
        display: inline-flex;
    }*/

/*.media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.mr-3 {
    margin-right: 1rem!important;
}

.media-body {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

*/
/*.c .container {padding:20px;}
.c .form-control {width:120px;}
.popover {max-width:400px;}

#popover-content-one > * {
  background-color:#ff0000 !important;
}*/
