body, html {
    background-color: #ffffff;
    height: 100%;
}

.OT_root {
    padding: 10px;
    float:left;
    display:inline;
}

#videos {
    position: relative;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    float: left;
}

/*#subscriber {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;
    display: inline;
    max-height: 150px;
    overflow-x: scroll;
    overflow-y: hidden;
    overflow: overlay;
}*/

#subscriber{
    float: left;
    width: 100%;
    height: 90%;
    bottom: 10px;
    /*z-index: 10;*/
    margin-top: 3%;
    position: relative;
}

/*#publisher {
    width: 100%;
    height: 73%;
    bottom: 10px;
    left: 10px;
    z-index: 100;
    margin-top: 180px;
}*/

/*#publisher {
    float: right;
    width: 50%;
    height: 80%;
    bottom: 10px;
    z-index: 100;
    margin-top: 8%;
}*/

#publisher{
    float: left;
    width: 100%;
    height: 88%;
    position: fixed;
    bottom: 6%;
    left: 0%;
    z-index: 100;
}

.grid_col{
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid black;
    background: blue;
}

#screen-preview{
    display:none;
    margin-top: 180px;
}

#textchatOTO {
    position: relative;
    width: 100%;
    float: left;
    left: 0;
    height: 50%;
    background-color: #333;
}

#historyOTO {
    width: 100%;
    overflow: auto;
    background-color: #d4d4d4;
}

input#msgTxtOTO {
    height: 40px;
    position: absolute;
    bottom: 1px;
    width: 100%;
    padding: 5px;
}

#history {
    width: 100%;
    height: calc(100% - 74px);
    overflow: auto;
    background-color: #f1f1f1;
}

input#msgTxt {
    border-radius: 7px;
    margin-bottom: 8px;
    height: 40px;
    position: absolute;
    bottom: 0px;
    width: 93%;
    padding: 5px;
}

#history .mine {
    padding: 10px 8px;
    height: auto;
    color: #0c0c0c;
    text-align: right;
    margin: 10px 6px;
    background-color: white;
    border-radius: 7px;
    border-right: 4px solid blue;
}

#history .theirs {
    padding: 10px 8px;
    height: auto;
    color: #0c0c0c;
    text-align: left;
    margin: 10px 6px;
    background-color: white;
    border-radius: 7px;
    border-left: 4px solid green;
}

#historyOTO .mine {
    padding: 10px 8px;
    height: auto;
    color: #0c0c0c;
    text-align: right;
    margin: 10px 6px;
    background-color: white;
    border-radius: 7px;
    border-right: 4px solid blue;
}

#historyOTO .theirs {
    padding: 10px 8px;
    height: auto;
    color: #0c0c0c;
    text-align: left;
    margin: 10px 6px;
    background-color: white;
    border-radius: 7px;
    border-left: 4px solid green;
}

.OT_video{
    right: 0;
    height: 20px;
    width: 40px;
    display: block;
    cursor: pointer;
    position: absolute;
    margin-right: 60px;
    margin-top: 8px;
    z-index: 1000 !important;
}

.OT_mode-on{
    z-index: 111 !important;
}

.attendeesListModal, .pollModal , .chatBoxModal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 80%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    z-index: 112;
}

.attendeesList-content, .pollModal-content  {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.chatBoxModal-content  {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
}
/* The Close Button */
.listclose, .pollclose, .chatclose {
    color: #8e0f0f;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.listclose:hover, .listclose:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.pollclose:hover, .pollclose:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.chatclose:hover, .chatclose:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.box{
    display: none;
    position: fixed;
    width: 20%;
    right: 0;
    bottom: 5%;
    height: 54%;
    background-color: #d4d4d4;
    z-index:999;
}

.box-inner{
    width: auto;
    padding: 10px; color:#fff;
}

.fa-fw {
    width: 2em;
}

/*Table Attendees*/
.panel {
    border: 1px solid #ddd;
    background-color: #fcfcfc;
}

.panel .btn-group {
    margin: 15px 0 30px;
}

.panel .btn-group .btn {
    transition: background-color .3s ease;
}

.marginbox{
    margin: 2px 10px;
}

/*table button*/
.AVButton{
    font-size: 20px;
    margin: 1px 12px 1px 5px;
    color: darkblue;
}

/*Poll Quiz*/
#quiz {
    margin: -44px 50px 0px;
    position: relative;
    width: calc(100% - 100px);
    text-align: center;
}

#quiz button {
    margin: 8px 0px 0px 8px;
    cursor: pointer;
}

#quiz button:disabled {
    opacity: 0.5;
    cursor: default;
}

#question {
    padding: 20px;
    background: #FAFAFA;
    text-align: center;
}

#question h2 {
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 20px;
}

#question input[type=radio] {
    display: none;
}

#question label {
    display: inline-block;
    margin: 10px;
    padding: 8px;
    background: #ffffff;
    color: #4C3000;
    width: calc(50% - 8px);
    min-width: 50px;
    cursor: pointer;
    letter-spacing: 0.5px;
    border-radius: 6px;
    box-shadow: 0px 2px 2px #dedada;
}

#question label:hover {
    background: #347ab7;
    color: white;
}

#question input[type=radio]:checked + label {
    background: #5bb85b;
    color: white;
}

#quiz-results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 5px;
    left: 0px;
    background: #FAFAFA;
    width: 100%;
    height: calc(100% - 2px);
}

#quiz-results-message {
    display: block;
    color: #00403C;
    font-size: 20px;
    font-weight: bold;
}

#quiz-results-score {
    display: block;
    color: #31706c;
    font-size: 20px;
}

#quiz-results-score b {
    color: #00403C;
    font-weight: 600;
    font-size: 20px;
}

#quiz-retry-button {
    float: left;
    margin: 8px 0px 0px 8px;
    padding: 4px 8px;
    background: #9ACFCC;
    color: #00403C;
    font-size: 14px;
    cursor: pointer;
    outline: none;
}

#poll-end-button{
    display: none;
}

/*Sticky Button*/
#mySidenav a {
    position: fixed;
    right: -24px;
    transition: 0.5s;
    padding: 12px 11px 9px 20px;
    width: 85px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 30px 0px 0px 30px;
    z-index: 110;
}

#mySidenav a:hover {
    right: 0;
}

#MenuTab {
    top: 0%;
    background-color: #184658;
}

#accordion1{
    margin-bottom: 0px;
}

.panel-heading{
    padding: 5px 4px;
}

.panel-heading a{
    border-top: none;
    background-color: #449d44
}

#collapseOne .panel-body{
    color: black;
    padding: 9px;
    max-height: 200px;
    overflow: auto;
}

/*Sticky Menu*/
.sidepanel1  {
    width: 0%;
    position: fixed;
    z-index: 110;
    height: 95%;
    top: 0%;
    right: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    transition: 0.7s;
    padding-top: 30px;
    border-radius: 10px 2px 2px 10px;
    box-shadow: 0px 4px 6px 2px #88888887;
}

.sidepanel1 a {
    padding: 8px 4px 8px 5px;
    display: block;
    transition: 0.3s;
    border-top: thin solid;
}

.sidepanel1 a:hover {
    color: black  ;
    background-color: #eee;
}

.sidepanel1 .closebtn {
    padding: 0px !important;
    box-shadow: 0px 0px !important;
    position: absolute;
    top: 15px;
    right: 17px;
    font-size: 28px;
    background-color: #ffffff !important;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color:#444;
}

.width100{
    width: 100%;
}

.listTable{
    font-size: small;
}

.listTable  th, td {
    padding: 2px 8px !important;
}

#group-chat-button{
    display: none;
}

#poll-timer{
    float: right;
}

#stop-recording{
    display: none;
}

#chat-box span{
    display: flex;
    float: right;
}

#chatBoxIn{
    display: none;
}

#textchat form{
    color: black;
}

#footer-head{
    float: left;
    position: fixed;
    background: #184658;
    padding-left: 0px;
    padding-right: 0px;
    z-index: 115;
    bottom: 0px;
    text-align: center;
    box-shadow: 0px -3px 0px #d6d3d3;
}

#footer-head-sub{
    padding: 5px 5px 5px 5px;
}

.left-align{
    text-align: left;
}

.right-align{
    text-align: right;
}

.footer-text{
    color: white;
    letter-spacing: 0.6px;
    font-size: 13px;
}
