:root {
  --crsl-bg: transparent;
  --box-bg: #1e272e;
  --box-shadow: #0000001c;
  --box-shadow-border: #0000000f;
  --box-border: #fff;
}

body, html {
    background-color: #4a265a;
    /*background: url("");*/
    background-position: center center;
    background-size: contain;
    background-repeat: initial;
    height: 100%;
}

.unitableDesign tbody {
    background-color: white;
}

.unitableDesign>tbody>tr>td{
    text-align: center;
    vertical-align: middle;
    padding: 8px 12px !important;
    font-size: 14px;
}

.unitableDesign tr:first-of-type td:first-of-type {
    border-top-left-radius: 10px;
}

.unitableDesign tr:first-of-type td:last-of-type {
    border-top-right-radius: 10px;
}

.unitableDesign tr:last-of-type td:first-of-type {
    border-bottom-left-radius: 10px;
}

.unitableDesign tr:last-of-type td:last-of-type {
    border-bottom-right-radius: 10px;
}

.tdborder{
    border-right: 3px solid #815cd5;
}

.notopBorder{
    border-top: aliceblue !important;
}

.textHt{
    color: #f6872c;
    font-weight: 700;
    letter-spacing: 0.7px;
}

.OT_root {
    padding: 10px;
    float:left;
    display:inline;
}

.container{
    position: absolute;
    left: 10%;
    height: 15%;
}

#videos {
    position: relative;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    float: left;
}

#subscriber{
    width: 25%;
    height: 30%;
    bottom: 10px;
    position: relative;
    left: 35%;
    top: 30%;
}

#subscriber-student {
    left: 10%;
    top: 1%;
    z-index: 10;
    overflow: hidden;
}

#screen-preview{
    display:none;
    width: 70%;
    height: 100%;
    bottom: 10px;
    z-index: 111;
    left: 10%;
    position: relative;
}

#textchatOTO {
    position: relative;
    width: 100%;
    float: left;
    left: 0;
    height: 50%;
    background-color: #333;
}

#historyOTO {
    width: 100%;
    overflow: auto;
    background-color: #d4d4d4;
}

input#msgTxtOTO {
    height: 40px;
    position: absolute;
    bottom: 1px;
    width: 100%;
    padding: 5px;
}

#history {
    width: 100%;
    height: calc(100% - 74px);
    overflow: auto;
    background-color: #f1f1f1;
}

input#msgTxt {
    border-radius: 7px;
    margin-bottom: 8px;
    height: 40px;
    position: absolute;
    bottom: 0px;
    width: 93%;
    padding: 5px;
}

#history .mine {
    padding: 10px 8px;
    height: auto;
    color: #0c0c0c;
    text-align: right;
    margin: 10px 6px;
    background-color: white;
    border-radius: 7px;
    border-right: 4px solid blue;
}

#history .theirs {
    padding: 10px 8px;
    height: auto;
    color: #0c0c0c;
    text-align: left;
    margin: 10px 6px;
    background-color: white;
    border-radius: 7px;
    border-left: 4px solid green;
}

#historyOTO .mine {
    padding: 10px 8px;
    height: auto;
    color: #0c0c0c;
    text-align: right;
    margin: 10px 6px;
    background-color: white;
    border-radius: 7px;
    border-right: 4px solid blue;
}

#historyOTO .theirs {
    padding: 10px 8px;
    height: auto;
    color: #0c0c0c;
    text-align: left;
    margin: 10px 6px;
    background-color: white;
    border-radius: 7px;
    border-left: 4px solid green;
}

.OT_video{
    right: 0;
    height: 20px;
    width: 40px;
    display: block;
    cursor: pointer;
    position: absolute;
    margin-right: 60px;
    margin-top: 8px;
    z-index: 1000 !important;
    font-family: "Font Awesome 5 Pro" !important;
}

.OT_mode-on{
    z-index: 111 !important;
}

.attendeesListModal, .pollModal , .chatBoxModal, .brochureModal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 8%;
    top: 20%;
    width: 70%; /* Full width */
    height: 60%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    z-index: 105;
}

.attendeesList-content, .pollModal-content, .brochureModal-content  {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
}

.attendeesList-content{
    width: 80%;
}

.pollModal-content{
    width: 100%;
}

.chatBoxModal-content  {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
}

.brochureModal-content{
    text-align: center;
}

.brochureModal-content a{
    float: right;
}
.brochureModal-content select{
    width: inherit;
    height: 50px;
}

/* The Close Button */
.listclose, .pollclose, .chatclose {
    color: #8e0f0f;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.listclose:hover, .listclose:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.pollclose:hover, .pollclose:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.chatclose:hover, .chatclose:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.box{
    display: none;
    position: fixed;
    width: 20%;
    right: 0;
    bottom: 5%;
    height: 54%;
    background-color: #d4d4d4;
    z-index:999;
}

.box-inner{
    width: auto;
    padding: 10px; color:#fff;
}

.fa-fw {
    width: 2em;
}

/*Table Attendees*/
.panel {
    /*border: 1px solid #ddd;*/
    background-color: #fcfcfc;
}

.panel .btn-group {
    margin: 15px 0 30px;
}

.panel .btn-group .btn {
    transition: background-color .3s ease;
}

.marginbox{
    margin: 2px 10px;
}

/*table button*/
.AVButton{
    font-size: 20px;
    margin: 1px 12px 1px 5px;
    color: darkblue;
}

/*Poll Quiz*/
#quiz {
    margin: -44px 50px 0px;
    position: relative;
    width: calc(100% - 100px);
    text-align: center;
}

#quiz button {
    margin: 8px 0px 0px 8px;
    cursor: pointer;
}

#quiz button:disabled {
    opacity: 0.5;
    cursor: default;
}

#question {
    padding: 1px;
    background: #FAFAFA;
    text-align: center;
}

#question h2 {
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 20px;
}

#question input[type=radio] {
    display: none;
}

#question label {
    display: inline-block;
    margin: 10px;
    padding: 8px;
    background: #ffffff;
    color: #4C3000;
    width: calc(50% - 8px);
    min-width: 50px;
    letter-spacing: 0.5px;
    border-radius: 6px;
    box-shadow: 0px 2px 2px #dedada;
}

#quiz-results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 5px;
    left: 0px;
    background: #FAFAFA;
    width: 100%;
    height: calc(100% - 2px);
}

#quiz-results-message {
    display: block;
    color: #00403C;
    font-size: 20px;
    font-weight: bold;
}

#quiz-results-score {
    display: block;
    color: #31706c;
    font-size: 20px;
}

#quiz-results-score b {
    color: #00403C;
    font-weight: 600;
    font-size: 20px;
}

#quiz-retry-button {
    float: left;
    margin: 8px 0px 0px 8px;
    padding: 4px 8px;
    background: #9ACFCC;
    color: #00403C;
    font-size: 14px;
    cursor: pointer;
    outline: none;
}

#poll-end-button{
    display: none;
}

#poll-close-result-button{
    display: none;
}

/*Sticky Button*/
#mySidenav a {
    position: fixed;
    right: -24px;
    transition: 0.5s;
    padding: 12px 11px 9px 20px;
    width: 85px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 30px 0px 0px 30px;
    z-index: 110;
}

#mySidenav a:hover {
    right: 0;
}

#MenuTab {
    top: 0%;
    background-color: #f6872c;
}

#accordion1{
    margin-bottom: 0px;
}

.panel-heading{
    padding: 5px 4px;
}

.panel-heading a{
    border-top: none;
    background-color: #f6872c
}

#collapseOne .panel-body{
    color: black;
    padding: 9px;
    max-height: 200px;
    overflow: auto;
}

/*Sticky Menu*/
.sidepanel1  {
    width: 20%;
    position: fixed;
    z-index: 110;
    height: 95%;
    top: 0%;
    right: 0;
    background-color: #8703c5;
    overflow-x: hidden;
    transition: 0.7s;
    padding-top: 30px;
    border-radius: 10px 2px 2px 10px;
    /*box-shadow: 0px 4px 6px 2px #88888887;*/
}

.sidepanel1 a {
    padding: 8px 4px 8px 5px;
    display: block;
    transition: 0.3s;
    border-top: thin solid;
}

.sidepanel1 a:hover {
    color: black  ;
    background-color: #eee;
}

.sidepanel1 .closebtn {
    color: white !important;
    padding: 0px !important;
    box-shadow: 0px 0px !important;
    position: absolute;
    top: -1px;
    right: 17px;
    font-size: 25px;
    background-color: #8c57c5 !important;
}

.Orangebtn{
    color: #fff;
    background-color: #f6872c;
    border-color: #f6872c;
}

.filterButton{
    margin: 0px 6px;
    border-radius: 4px;
    min-width: 100px;
}

.purplebtn{
    color: #fff;
    background-color: #8c57c5;
    border-color: #8c57c5;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color:#444;
}

.width100{
    width: 100%;
}

.listTable{
    font-size: small;
}

.listTable  th, td {
    padding: 2px 8px !important;
}

#group-chat-button{
    display: none;
}

#poll-timer{
    float: right;
}

#stop-recording{
    display: none;
}

#chat-box span{
    display: flex;
    float: right;
}

#chatBoxIn{
    display: none;
}

#textchat form{
    color: black;
}

#footer-head{
    float: left;
    position: fixed;
    background: #184658;
    padding-left: 0px;
    padding-right: 0px;
    z-index: 115;
    bottom: 0px;
    text-align: center;
    box-shadow: 0px -3px 0px #d6d3d3;
}

#footer-head-sub{
    padding: 5px 5px 5px 5px;
}

.left-align{
    text-align: left;
}

.right-align{
    text-align: right;
}

.footer-text{
    color: white;
    letter-spacing: 0.6px;
    font-size: 13px;
}

html > .carousel, body > .carousel {
  padding-top: 125px;
}

.carousel {
  position: relative;
  display: block;
  width: 100%;
  box-sizing: border-box;
}
.carousel__prev{
	float:left;
}
.carousel__next {
	float:right;
}
.carousel__prev i, .carousel__next i {
  font-size: 60px;
  color: var(--box-border);
  cursor: pointer;
}
.carousel__prev:hover, .carousel__next:hover {
  transform: scale(1.25);
}
.carousel__prev {
  left: 40%;
}
.carousel__next {
  right: 40%;
}
.carousel__body {
  width: 100%;
  padding: 20px 0 50px 0;
  overflow: hidden;
}
.carousel__body .carousel__slider {
  position: relative;
  transition: transform 1s ease-in-out;
  background: var(--crsl-bg);
}
.carousel__body .carousel__slider__item {
  width: 20%;
  position: relative;
  display: block;
  float: left;
  box-sizing: border-box;
  margin-left: 20px;
  margin-right: 20px;
}
.carousel__body .carousel__slider__item .item__3d-frame {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1s ease-in-out;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.carousel__body .carousel__slider__item .item__3d-frame:after {
  content: "";
  position: absolute;
  bottom: -15%;
  width: 100%;
  height: 40px;
  background: var(--box-shadow);
  box-shadow: 0px 0px 5px 5px var(--box-shadow);
  transform: rotateX(90deg) translate3d(0px, -20px, 0px);
  opacity: 0.85;
}
.carousel__body .carousel__slider__item .item__3d-frame__box {
  display: flex;
  align-items: center;
  vertical-align: middle;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-color: var(--box-border);
  background: var(--box-bg);
  border-width: 3px;
  border-style: solid;
}
.carousel__body .carousel__slider__item .item__3d-frame__box div {
  font-size: 7em;
  width: 100%;
  color: var(--box-border);
}
.carousel__body .carousel__slider__item .item__3d-frame__box--right, .carousel__body .carousel__slider__item .item__3d-frame__box--left {
  top: 0;
  width: 40px;
  backface-visibility: hidden;
}
.carousel__body .carousel__slider__item .item__3d-frame__box--left {
  left: 0;
  border-left-width: 5px;
  transform: translate3d(1px, 0, -40px) rotateY(-90deg);
  transform-origin: 0%;
}
.carousel__body .carousel__slider__item .item__3d-frame__box--right {
  right: 0;
  border-right-width: 5px;
  transform: translate3d(-1px, 0, -40px) rotateY(90deg);
  transform-origin: 100%;
}
