/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*::after, *::before {
 /* content: '';*/
}

@font-face
{
	font-family: lato_black;
	src: url('../font/LATO-BLACK.eot');
	src:url('../font/LATO-BLACK.eot?#iefix') format('embedded-opentype'),
	 	url('../font/LATO-BLACK.svg#lato_black') format('svg'),
		url('../font/LATO-BLACK.woff') format('woff'),
		url('../font/LATO-BLACK.ttf') format('truetype');
	font-weight: normal;
    font-style: normal;
}
@font-face
{
	font-family: lato_bold;
	src:url('../font/LATO-BOLD.eot');
	src: url('../font/LATO-BOLD.eot?#iefix') format('embedded-opentype'),
	 	url('../font/LATO-BOLD.svg#lato_blod') format('svg'),
		url('../font/LATO-BOLD.woff') format('woff'),
		url('../font/LATO-BOLD.ttf') format('truetype');
	font-weight: normal;
    font-style: normal;
}
@font-face
{
	font-family: lato_light;
	src:url('../font/LATO-LIGHT.eot');
	src: url('../font/LATO-LIGHT.eot?#iefix') format('embedded-opentype'),
	 	url('../font/LATO-LIGHT.svg#lato_light') format('svg'),
		url('../font/LATO-LIGHT.woff') format('woff'),
		url('../font/LATO-LIGHT.ttf') format('truetype');
	font-weight: normal;
    font-style: normal;
}
@font-face
{
	font-family: lato_regular;
	src:url('../font/LATO-REGULAR.eot');
	src: url('../font/LATO-REGULAR.eot?#iefix') format('embedded-opentype'),
	 	url('../font/LATO-REGULAR.svg#lato_regular') format('svg'),
		url('../font/LATO-REGULAR.woff') format('woff'),
		url('../font/LATO-REGULAR.ttf') format('truetype');
	font-weight: normal;
    font-style: normal;
}


/* -------------------------------- 

Main components 

-------------------------------- */

@media only screen and (min-width: 768px) {
  header {
    height: 200px;
    line-height: 225px;
  }
  header h1 {
    font-size: 26px;
    font-size: 1.625rem;
  }
}

.cd-tabs {
  position: relative;
  width: 100%;
  max-width: 980px;
 /* margin: 2em auto;*/
 margin-top: 0px;
margin-left: auto;
margin-right: auto;
}
.cd-tabs:after {
  content: "";
  display: table;
  clear: both;
}
.cd-tabs::after {
  /* subtle gradient layer on top right - to indicate it's possible to scroll */
  position: absolute;
  top: 0;
  right: 0;
  height: 60px;
  width: 50px;
  z-index: 1;
  pointer-events: none;
  
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.no-cssgradients .cd-tabs::after {
  display: none;
}
.cd-tabs.is-ended::after {
  /* class added in jQuery - remove the gradient layer when it's no longer possible to scroll */
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-tabs nav {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  background: #374552;

}
@media only screen and (min-width: 768px) {
  .cd-tabs::after {
    display: none;
  }
  .cd-tabs nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
   /* box-shadow: inset -2px 0 3px rgba(203, 196, 130, 0.06);*/
    z-index: 1;
  }
}
@media only screen and (min-width: 960px) {
  .cd-tabs nav {
    position: relative;
    float: none;
    background: transparent;
    box-shadow: none;
	margin-left:184px;
  }
}

.cd-tabs-navigation {
  width: 360px;
}
.cd-tabs-navigation:after {
  content: "";
  display: table;
  clear: both;
}
.cd-tabs-navigation li {
  float: left;
  font-family:lato_light;
}
.cd-tabs-navigation a {
  position: relative;
  display: block;
  height: 50px;
  width: 60px;
  text-align: center;
  font-size: 12px;
  font-size: 0.75rem;
  
  font-weight: 700;
  color: #fff;
  padding-top: 22px;
}
.no-touch .cd-tabs-navigation a:hover {
  color: #fff;
  background-color:#f6881f;
}
.cd-tabs-navigation a.selected {
  background-color: #f6881f !important;
 
  color: #fff;
}
.cd-tabs-navigation a::before {
  /* icons */
  position: absolute;
  top: 12px;
  left: 50%;
  margin-left: -10px;
  display: inline-block;
  height: 20px;
  width: 20px;
  background-image: url("../img/vicons.svg");
  background-repeat: no-repeat;
}
.cd-tabs-navigation a[data-content='inbox']::before {
  background-position: 0 0;
}
.cd-tabs-navigation a[data-content='new']::before {
  background-position: -20px 0;
}
.cd-tabs-navigation a[data-content='gallery']::before {
  background-position: -40px 0;
}
.cd-tabs-navigation a[data-content='store']::before {
  background-position: -60px 0;
}
.cd-tabs-navigation a[data-content='settings']::before {
  background-position: -80px 0;
}
.cd-tabs-navigation a[data-content='trash']::before {
  background-position: -100px 0;
}
.cd-tabs-navigation a[data-content='inbox'].selected::before {
  background-position: 0 -20px;
}
.cd-tabs-navigation a[data-content='new'].selected::before {
  background-position: -20px -20px;
}
.cd-tabs-navigation a[data-content='gallery'].selected::before {
  background-position: -40px -20px;
}
.cd-tabs-navigation a[data-content='store'].selected::before {
  background-position: -60px -20px;
}
.cd-tabs-navigation a[data-content='settings'].selected::before {
  background-position: -80px -20px;
}
.cd-tabs-navigation a[data-content='trash'].selected::before {
  background-position: -100px -20px;
}
@media only screen and (min-width: 768px) {
  .cd-tabs-navigation {
    /* move the nav to the left on medium sized devices */
    width: 80px;
    float: left;
  }
  .cd-tabs-navigation a {
    height: 80px;
    width: 80px;
    padding-top: 46px;
  }
  .cd-tabs-navigation a.selected {
   /* box-shadow: inset 2px 0 0 #f05451;*/
  }
  .cd-tabs-navigation a::before {
    top: 22px;
  }
}
@media only screen and (min-width: 960px) {
  .cd-tabs-navigation {
    /* tabbed on top on big devices */
    width: auto;
    background-color: #374552;
   /* box-shadow: inset 0 -2px 3px rgba(203, 196, 130, 0.06);*/
  }
  .cd-tabs-navigation a {
    height: 40px;
    line-height: 40px;
    width: auto;
    text-align: left;
    font-size: 12px;
  
    /*padding: 0 2.8em 0 4.6em;*/
	padding-top: 0px;
padding-right: 25px;
padding-left: 26px;
  }
  .cd-tabs-navigation a.selected {
    /*box-shadow: inset 0 2px 0 #f05451;*/
  }
  .cd-tabs-navigation a::before {
    top: 50%;
    margin-top: -10px;
    margin-left: 0;
    left: 38px;
  }
}

.cd-tabs-content {
  background: #ffffff;
}
.cd-tabs-content li {
  display: none;
  padding: 1.4em;
}
.cd-tabs-content li.selected {
  display: block;
  -webkit-animation: cd-fade-in 0.5s;
  -moz-animation: cd-fade-in 0.5s;
  animation: cd-fade-in 0.5s;
}
.cd-tabs-content li p {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.6;
  color: #f6881f;
  margin-bottom: 2em;
}
@media only screen and (min-width: 768px) {
  .cd-tabs-content {
    min-height: 480px;
  }
  .cd-tabs-content li {
    padding: 2em 0px 2em 0px;
  }
}
@media only screen and (min-width: 960px) {
  .cd-tabs-content {
    min-height: 0;
  }
  .cd-tabs-content li {
    padding-top:30px;
  }
  .cd-tabs-content li p {
    font-size: 12px;
    /*font-size: 1rem;*/
  }
}

@-webkit-keyframes cd-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes cd-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes cd-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
