@font-face
{
	font-family: lato_black;
	src: url('../font/LATO-BLACK.eot');
	src:url('../font/LATO-BLACK.eot?#iefix') format('embedded-opentype'),
	 	url('../font/LATO-BLACK.svg#lato_black') format('svg'),
		url('../font/LATO-BLACK.woff') format('woff'),
		url('../font/LATO-BLACK.ttf') format('truetype');
	font-weight: normal;
    font-style: normal;
}
@font-face
{
	font-family: lato_bold;
	src:url('../font/LATO-BOLD.eot');
	src: url('../font/LATO-BOLD.eot?#iefix') format('embedded-opentype'),
	 	url('../font/LATO-BOLD.svg#lato_blod') format('svg'),
		url('../font/LATO-BOLD.woff') format('woff'),
		url('../font/LATO-BOLD.ttf') format('truetype');
	font-weight: normal;
    font-style: normal;
}
@font-face
{
	font-family: lato_light;
	src:url('../font/LATO-LIGHT.eot');
	src: url('../font/LATO-LIGHT.eot?#iefix') format('embedded-opentype'),
	 	url('../font/LATO-LIGHT.svg#lato_light') format('svg'),
		url('../font/LATO-LIGHT.woff') format('woff'),
		url('../font/LATO-LIGHT.ttf') format('truetype');
	font-weight: normal;
    font-style: normal;
}
@font-face
{
	font-family: lato_regular;
	src:url('../font/LATO-REGULAR.eot');
	src: url('../font/LATO-REGULAR.eot?#iefix') format('embedded-opentype'),
	 	url('../font/LATO-REGULAR.svg#lato_regular') format('svg'),
		url('../font/LATO-REGULAR.woff') format('woff'),
		url('../font/LATO-REGULAR.ttf') format('truetype');
	font-weight: normal;
    font-style: normal;
}

@media screen and (min-width: 600px) {

 
}

section {
   font-family: lato_regular !important;
  position: relative;
  height: auto;
}
section:after,
section:before {
  content: "";
  display: table;
}
section:after {
  clear: both;
}
section h4 {
 
  cursor: pointer;
 
  border-top: none;
  padding: 10px 20px;
 

   font-family: lato_regular !important;
   margin:0px;
 
}
section h4:first-child {
 /* border-top: 1px solid rgba(0,0,0,0.2);*/
}
@media screen and (min-width: 700px) {
.border_right{
	border-right:1px solid #f6881f;
	}
	.border_left{
	border-left:1px solid #f6881f;
	padding-left: 30px;
	}
	section ul {
    position: absolute;
    width:80%;
    right: 0;
    top: 0;
    padding: 0px 30px;
	margin-top:-45px;
  }
	}
@media screen and (min-width: 600px) {
  section h4 {
    position: relative;
    width: 20%;
    height: 20%;
	
    display: block;
	text-transform:capitalize;
	 font-family: lato_regular !important;
  }
  
}
section ul {
 
  position: relative;
  height: auto;
  min-height: 100%;
  /*border: 1px solid rgba(0,0,0,0.2);*/
  border-left: none;
  display: none;
}
section ul:after,
section ul:before {
  content: "";
  display: table;
}
section ul:after {
  clear: both;
}
section ul li {
  list-style:disc;
}
@media screen and (min-width: 600px) {
  section ul {
    position: absolute;
    width:80%;
    right: 0;
    top: 0;
    padding: 0px 30px;
	
  }
}
section .active {
  cursor: default;
  color:#fff;
  /*border-bottom: 1px solid rgba(0,0,0,0.2);
  border-right: none;*/
}
@media screen and (min-width: 600px) {
  section .active {
    background:#f6881f;
    /*border-right: 1px solid rgba(0,0,0,0);*/
  }
}
section .active + ul {
  display: block;
}
@media screen and (min-width: 300px) {
  section .active {
    background:#f6881f;
    /*border-right: 1px solid rgba(0,0,0,0);*/
  }
   section h4 {
    position: relative;
   
    height: 20%;
	font-weight:100;
    display: block;
	text-transform:capitalize;
	 font-family: lato_regular !important;
	 font-size:13px;
  }
  .border_right
  {
  padding-top:10px;
  }
  .border_left
  {
  padding-top:10px;
  }
 
  
}