.main {
    height: 100vh;
    display: flex;
}

.main__left {
    flex: 0.8;
    display: flex;
    flex-direction: column;
}

.main__right {
    flex: 0.2
}

.main__videos {
    flex-grow: 1;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.main__controls {
    background-color: #1C1E20;
}

.main__right {
    background-color: #242324;
    border-left: 1px solid #3D3D42;
}

.main__controls {
    color: #D2D2D2;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.main__controls__block {
    display: flex;
}

.main__controls__button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 10px;
    min-width: 80px;
    cursor: pointer;
}

.main__controls__button:hover {
    background-color: #343434;
    border-radius: 5px;
}

.main__controls__button i {
    font-size: 24px;
}

.main__right {
    display: flex;
    flex-direction: column;
}

.main__header {
    padding-top: 5px;
    color: #F5F5F5;
    text-align: center;
}

.main__chat_window {
    flex-grow: 1;
    overflow-y: auto;
}

.messages{
    color: white;
    list-style: none;
}

.main__message_container {
    padding: 22px 12px;
    display: flex;
}

.main__message_container input {
    flex-grow: 1;
    background-color: transparent;
    border: none;
    color: #F5F5F5;
}

.leave_meeting {
    color: #EB534B;
}

.unmute, .stop {
    color: #CC3B33;
}

#video-grid{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
video{
    height: 300px;
    width: 400px;
    object-fit: cover;
    padding: 8px;
    border: #FFF solid;
}

.blink{
    animation: blink 1s linear infinite;
    border: #00ff00 solid;
}

@keyframes blink{
    0%{opacity: .8;}
    50%{opacity: .8;}
    100%{opacity: 1;}
}

.video-container { position:relative; }
.video-container video {
    position:relative;
    z-index:0;
}
.overlay {
    position:absolute;
    top:5px;
    left:25px;
    z-index:1;
}

.overlay p{
    color: #fff8dc;
    font-size: 16px;
    font-weight: bold;
}
