@font-face
{
	font-family: lato_black;
	src: url('../font/LATO-BLACK.eot');
	src:url('../font/LATO-BLACK.eot?#iefix') format('embedded-opentype'),
	 	url('../font/LATO-BLACK.svg#lato_black') format('svg'),
		url('../font/LATO-BLACK.woff') format('woff'),
		url('../font/LATO-BLACK.ttf') format('truetype');
	font-weight: normal;
    font-style: normal;
}
@font-face
{
	font-family: lato_bold;
	src:url('../font/LATO-BOLD.eot');
	src: url('../font/LATO-BOLD.eot?#iefix') format('embedded-opentype'),
	 	url('../font/LATO-BOLD.svg#lato_blod') format('svg'),
		url('../font/LATO-BOLD.woff') format('woff'),
		url('../font/LATO-BOLD.ttf') format('truetype');
	font-weight: normal;
    font-style: normal;
}
@font-face
{
	font-family: lato_light;
	src:url('../font/LATO-LIGHT.eot');
	src: url('../font/LATO-LIGHT.eot?#iefix') format('embedded-opentype'),
	 	url('../font/LATO-LIGHT.svg#lato_light') format('svg'),
		url('../font/LATO-LIGHT.woff') format('woff'),
		url('../font/LATO-LIGHT.ttf') format('truetype');
	font-weight: normal;
    font-style: normal;
}
@font-face
{
	font-family: lato_regular;
	src:url('../font/LATO-REGULAR.eot');
	src: url('../font/LATO-REGULAR.eot?#iefix') format('embedded-opentype'),
	 	url('../font/LATO-REGULAR.svg#lato_regular') format('svg'),
		url('../font/LATO-REGULAR.woff') format('woff'),
		url('../font/LATO-REGULAR.ttf') format('truetype');
	font-weight: normal;
    font-style: normal;
}

/*!
 * Start Bootstrap - Grayscale Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body {
    width: 100%;
    height: 100%;
    font-family:lato_regular;
    color: #fff;
    background-color: #fff;
}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h5,
h4,
h6 {
    margin: 16px 0 16px;
    text-transform: uppercase;
   font-weight: 700;
    letter-spacing: 1px;
	color:#000;
}



h2{
	color:f6881f;
	text-shadow:#CCC;	
}
p {
    margin: 0 0 25px;
    font-size: 12px;
    line-height: 1.5;
}

@media(min-width:768px) {
    p {
        margin: 0 0 35px;
        font-size: 12px;
        line-height: 1.6;
    }
}

a {
  	color:#fff;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
		color:#fff;
    text-decoration: none;

}

.light {
    font-weight: 400;
}

.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    text-transform: uppercase;
    font-family: lato_light;
    background-color: #3C3C3C;
}

.navbar-custom .navbar-brand {
    font-weight: 700;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-custom a {
    color: #fff;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
	font-family:lato_bold;
}

.navbar-custom .nav li a:hover {
    outline: 0;
    color: #F6881F;
    background-color: transparent;
	font-family:lato_bold;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
    outline: 0;
    background-color: transparent;
}

.navbar-custom .nav li.active {
    outline: 0;
}

.navbar-custom .nav li.active a {
    background-color: rgba(255,255,255,.3);
}

.navbar-custom .nav li.active a:hover {
    color: #fff;
}

@media(min-width:768px) {
    .navbar-custom {
        padding: 0px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .navbar-custom.top-nav-collapse {
        padding: 0;
        border-bottom: 3px solid #F6881F;
        background: #3C3C3C;
    }
}

.intro {
    display: table;
    width: 100%;
    height: 100%;
   /* padding: 100px 0;*/
    text-align: center;
    color: #fff;
	background:url(../img/banner_img.jpg) no-repeat bottom center scroll;
   /* background: url(../img/intro-bg.jpg) no-repeat bottom center scroll;*/
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

.intro .intro-body .brand-heading {
    font-size: 40px;
}

.intro .intro-body .intro-text {
    font-size: 18px;
}

@media(min-width:768px) {
    .intro {
        height: 70%;
        padding: 0;
    }

    .intro .intro-body .brand-heading {
        font-size: 100px;
    }

    .intro .intro-body .intro-text {
        font-size: 26px;
    }
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #fff;
    border-radius: 100%!important;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255,255,255,.1);
}

.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {    
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {    
    0% {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

.content-section {
    padding-top: 100px;
}

.download-section {
    width: 100%;
    padding: 50px 0;
    color: #fff;
    background: url(../img/downloads-bg.jpg) no-repeat center center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#map {
    width: 100%;
    height: 200px;
    margin-top: 100px;
}

@media(min-width:767px) {
    .content-section {
        padding-top: 250px;
    }

    .download-section {
        padding: 100px 0;
    }

    #map {
        height: 400px;
        margin-top: 250px;
    }
}

.btn {
    border-radius: 0;
    text-transform: uppercase;
    font-family: lato_regular;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-default {
   border: 1px solid #F6881F;
    color: #fff;
    background-color: #F6881F;
    border-radius: 3px;
}

.btn-default:hover,
.btn-default:focus {
   border: 1px solid #F6881F;
    color: #fff;
    background-color: #F6881F;
    border-radius: 3px;
}

ul.banner-social-buttons {
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    ul.banner-social-buttons li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons li:last-child {
        margin-bottom: 0;
    }
}

footer {
    padding: 0px 0;
}

footer p {
    margin: 0;
}

::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: rgba(255,255,255,.2);
}
.footer_menu {
	    margin: 2px 0px;
    padding-top: 10px;
	
}
.footer_menu ul li {
	display:inline-block;
	list-style-type:none;
	padding:0px 3px;
	
}
.back_btn{
	background-color:#F6881F;
	width:100px;
	height:28px;	
	border:0px;
	    margin-top: 61px;
		border-radius:5px;
}
.go_btn{
	background-color:#F6881F;
	width:100px;
	height:28px;	
	border:0px;
	    margin-top: 61px;
		border-radius:5px;
}