

.scrollbar1, .scrollbar2{position:relative; z-index:3;}



/* Tiny Scrollbar */
#about-us-content .scrollbar1 { width: 205px;margin:0 auto; height:auto; margin-top:15px; }
#about-us-content .scrollbar1 .viewport { width: 185px; height: 199px; overflow: hidden; position: relative; }

#print-content .scrollbar1 { width: 225px;margin:0; height:auto; margin-top:15px; left:40px; top:-98px; }
#print-content .scrollbar1 .viewport { width: 215px; height: 285px; overflow: hidden; position: relative; }
#print-content .scrollbar1 .scrollbar{top:50px;}
#print-content .scrollbar1 .scrollbar{ background: transparent url(scroll_p.png) no-repeat left center; position: relative; float: right; width: 6px; }
#print-content .scrollbar1 .thumb { background: transparent url(scroll-dot.png) no-repeat center center; height: 50px; width: 10px; cursor: pointer; overflow: hidden; position: absolute; top: 0; left: -5px; }
#print-content .scrollbar1 .gallery ul li a img{ height:90px;}

#fun-content .scrollbar1 { width: 210px;margin:0; height:auto; margin-top:15px; }
#fun-content .scrollbar1 .viewport { width: 195px; height: 215px; overflow: hidden; position: relative; }
#fun-content .scrollbar1 .gallery ul li a img{ height:90px;}

#contact-content .scrollbar1 { width: 145px;margin:0 auto; height:auto; margin-top:15px; }
#contact-content .scrollbar1 .viewport { width: 125px; height: 125px; /*overflow: hidden;*/ position: relative; }
#contact-content .scrollbar1 .overview { list-style: none; position: absolute; left: -86px; top: 0; padding: 0; margin: 0; }

.scrollbar1 .overview { list-style: none; position: absolute; left: 0px; top: 0; padding: 0; margin: 0; }
.scrollbar1 .scrollbar{ background: transparent url(scroll.png) no-repeat left center; position: relative; float: right; width: 6px; }
.scrollbar1 .track { height: 100%; width:6px; position: relative; padding: 0 1px; }
.scrollbar1 .thumb { background: transparent url(scroll-dot.png) no-repeat center center; height: 50px; width: 10px; cursor: pointer; overflow: hidden; position: absolute; top: 0; left: 0px; }
.scrollbar1 .thumb .end {overflow: hidden; height: 10px; width: 10px; }
.scrollbar1 .disable { display: none; }

#films-content .scrollbar2 { width: auto;margin:0 auto; height:170px; margin-top:15px; }
#films-content .scrollbar2 .viewport { width: 485px; height: 150px; overflow: hidden; position: relative; clear: both;}

#films-content .scrollbar2 .overview { list-style: none; position: absolute; left:0; top: 20px; padding: 0; margin: 0; }
#films-content .scrollbar2 .scrollbar{ background: transparent url(horizontal-scroll.png) no-repeat center center; position: relative; float: left; width: 6px; }
#films-content .scrollbar2 .track { height: 100%; height:6px; position: relative; padding: 0 1px;}
#films-content .scrollbar2 .thumb { background: transparent url(scroll-dot.png) no-repeat center center; height: 10px; width: 50px; cursor: pointer; overflow: hidden; position: absolute; top: -2px; left: 0px; width:90px; }
#films-content .scrollbar2 .thumb .end {overflow: hidden; height: 10px; width: 10px; }
#films-content .scrollbar2 .disable { display: none; }

